.main {
    min-height: 80vh;
}

.footer {
    background-color: black;
    color: white;
}
.image-resize {
    width: 500px;
    height: 500px;
}

.rating span{
    margin: 0.1rem;
}

#title {
    text-align: center;
}